@model RPS.ValidationModels.CallValidation

<div id="reply-call-form">
    
    @using (Ajax.BeginForm("_ReplyCall", new AjaxOptions() { OnSuccess = "CallReplied", UpdateTargetId = "reply-call-form" }))
    {
        <h1 class="text" id="adding-form-header">Reply to the client!</h1>
        <table>
            <tr>
                <td>
                    <p class="text">Customer name: </p>
                </td>
                <td>
                    <p id="CustNamePop"></p>
                    @Html.HiddenFor(m => m.id, new { id = "id" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text">Call text:</p>
                </td>
                <td>
                    <p id="CallText"></p>

                </td>
            </tr>
            <tr>
                <td>
                    <p class="text">Answer: </p>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Answer, new { id = "Answer" })


                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="add-reply-call" value="Add reply" />
                </td>
            </tr>
        </table>
    }
</div>