@using RPS.ValidationModels
@model CallValidation

@{
    ViewBag.Title = "Agent page";
}
<script src="~/Scripts/RoleScripts/AgentFunctionality.js"></script>

<link href="Content/Loader.css" rel="stylesheet">




<div id="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<table id="jqgAgent"></table>
<div id="pager"></div>


<div id="popup"></div>


<div id="callInfo" style="display: none;">
    <table>
        <tr>
            <td>
                <!--<label for="callText">Text call: </label>-->
                <p>Call text:</p>
            </td>
            <td>
                <p id="callText"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Date crated:</p>
            </td>
            <td>
                <p id="callDateCreated"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Customer name:</p>
            </td>
            <td>
                <p id="CustName"></p>
            </td>
        </tr>
        <tr id="CallAnswer" style="display: none;">
            <td>
                <p>Answer:</p>
            </td>
            <td>
                <p id="cAnswer"></p>
            </td>
        </tr>

        @*<input id="callDateCreated" type="text" readonly />
            <br />

            <label for="callCustName">Customer name: </label>
            <input id="callCustName" type="text" readonly />
            <br />

            <label for="callCustSur">Customer surname: </label>
            <input id="callCustSur" type="text" readonly />
            <br />*@
    </table>
</div>