A3@using RPS.ValidationModels
@model CallValidation


@{
    ViewBag.Title = "Agent page";
}
<script src="~/Scripts/RoleScripts/AgentFunctionality.js"></script>



<div id="Reply">
    @Html.Action("_ReplyCall", "Agent")
</div>


<table id="jqgAgent"></table>
<div id="pager"></div>
<div class="callInfo">

    <input id="callText" type="text" name="callText" readonly/>
    <input id="callDateCreated" type="text" readonly/>
    <input id="callCustName" type="text" readonly/>
    <input id="callCustSur" type="text" readonly/>

</div>

<datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">
    <option value="PHP">
    <option value="Go">
    <option value="Erlang">
    <option value="Python">
    <option value="C">
    <option value="C#">
    <option value="C++">
</datalist>
<input type="text" list="languages" />