@using RPS.ValidationModels
@model CallValidation

@{
    ViewBag.Title = "Agent page";
}
<script src="~/Scripts/RoleScripts/AgentFunctionality.js"></script>

<table id="jqgAgent"></table>
<div id="pager"></div>

<div class="callInfo" >
    <table>
        <tr>
            <td>
                <!--<label for="callText">Text call: </label>-->
                <p>Call text:</p>
            </td>
            <td>
                <textarea id="callText"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <p>Date crated:</p>
            </td>
            <td>
                <input id="callDateCreated" type="text" name="callDateCreated" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <p>Customer name:</p>
            </td>
            <td>
                <input id="callCustName" type="text" name="callCustName" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <p>Customer surname:</p>
            </td>
            <td>
                <input id="callCustSur" type="text" name="callCustSur" readonly />
            </td>
        </tr>

        @*<input id="callDateCreated" type="text" readonly />
        <br />

        <label for="callCustName">Customer name: </label>
        <input id="callCustName" type="text" readonly />
        <br />

        <label for="callCustSur">Customer surname: </label>
        <input id="callCustSur" type="text" readonly />
        <br />*@
    </table>
</div>
<div id="popup"></div>
<datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">
    <option value="PHP">
    <option value="Go">
    <option value="Erlang">
    <option value="Python">
    <option value="C">
    <option value="C#">
    <option value="C++">
</datalist>
<input type="text" list="languages" />