
@{
    ViewBag.Title = "Agent page";
}

<h2>Index</h2>
<table id="jqgAgent"></table>
<div id="pager"></div>
<div class="callInfo">
    
    <input id="callText" type="text" name="callText" readonly/>
    <input id="callDateCreated" type="text" readonly/>
    <input id="callCustName" type="text" readonly/>
    <input id="callCustSur" type="text" readonly/>

</div>

<datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">
    <option value="PHP">
    <option value="Go">
    <option value="Erlang">
    <option value="Python">
    <option value="C">
    <option value="C#">
    <option value="C++">
</datalist>
<input type="text" list="languages" />