@{
    ViewBag.Title = "Home page";
}


<div class="centeredBlock">
    Index page. Will be filled with some info later.
    <br />
    <img src="http://www.stihi.ru/pics/2013/12/14/4789.jpg" />
</div>