
@{
    if (!User.Identity.IsAuthenticated)
    {
       Response.Redirect("Account/Login", true);
    }

}
@{
            ViewBag.Title = "Home page";
}


<div class="centeredBlock">
    <p>Index page. Will be filled with some info later.</p>
    <img src="http://www.stihi.ru/pics/2013/12/14/4789.jpg" />
</div>