@using RPS.ValidationModels
@using RPS.Controllers
@using RPS.Models
@model UserValidation

@{
    ViewBag.Title = "Administrator_Customers";
}
<script src="~/Scripts/RoleScripts/AdministratorCustomerFunctionality.js"></script>
<link href="~/Content/custom-layout.css" rel="stylesheet" />

<h1>Administrator customers</h1>
<table id="jqgAdminCustomers" title="Add new user"></table>
<div id="pager"></div>
<select id="callList" name="sometext" multiple="multiple" style="display: none;"></select>

<button class="btn btn-primary" onclick="AddCustomer()">Add user</button>

<div id="deleteCustomerWindow"></div>
<div id="addCustomerWindow"></div>
<div id="editCustomerWindow"></div>



