@using RPS.ValidationModels
@using RPS.Controllers
@using RPS.Models
@model UserValidation

@{
    ViewBag.Title = "Administrator_Customers";
}
<script src="~/Scripts/RoleScripts/AdministratorCustomerFunctionality.js"></script>
@*<link href="~/Content/layout-jqgrid.css" rel="stylesheet" />*@


<h1>Administrator customers</h1>
<table id="jqgAdminCustomers" title="Add new user"></table>
<div id="pager"></div>
<button class="btn btn-primary" onclick="addUser()">Add user</button>
<div class="editUserWindow"></div>


