@using RPS.ValidationModels
@using RPS.Controllers
@using RPS.Models
@model UserValidation

@{
    ViewBag.Title = "Administrator_Customers";
}
<script src="~/Scripts/RoleScripts/AdministratorCustomerFunctionality.js"></script>

<h1>Administrator customers</h1>
<table id="jqgAdminCustomers" title="Add new user"></table>
<div id="pager"></div>

<button class="btn btn-primary" onclick="AddCustomer()">Add user</button>

<div id="deleteCustomerWindow"></div>
<div id="addCustomerWindow"></div>
<div id="editCustomerWindow"></div>


