@model RPS.ValidationModels.CallValidation

<div id="activeCall">
    @using (@Ajax.BeginForm("ActiveCall", "Archivist", new AjaxOptions()
    {

        OnSuccess = "reloadJQGridActive()",
        UpdateTargetId = "activeCall",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <h1 class="text" id="adding-form-header">Active call to arhivist</h1>

        <table>
            <tr>
                <td>
                    <p class="text">Status: </p>
                </td>
                <td>

                    @Html.HiddenFor(m => m.id, new { id = "id" })

                    @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewData["AgentsList"], new { id = "Status" })


                </td>
            </tr>


            <tr>
                <td>
                    <input type="submit" id="add-button" value="Active call" />
                </td>
            </tr>
        </table>

    }
</div>


