@using RPS.ValidationModels
@model CallValidation

@{
    ViewBag.Title = "Archivist page";
}
<script src="~/Scripts/RoleScripts/ArchivistFunctionality.js"></script>
<link href="~/Content/custom-layout.css" rel="stylesheet" />

<link href="Content/Loader.css" rel="stylesheet">


<h2>Index</h2>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Active</a></li>
        <li><a href="#tabs-2">Archived</a></li>
    </ul>
    <div id="tabs-1">

        <div id="popupArchive"></div>
        <div id="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
        <table id="jqgArchivistActive"></table>
        <div id="pagerActive"></div>
    </div>
    <div id="tabs-2">
        <div id="popupActivate"></div>
        <table id="jqgArchivistArchived"></table>
        <div id="pagerArchived"></div>
    </div>
</div>





