@using RPS.ValidationModels
@model CallValidation

@{
    ViewBag.Title = "Archivist page";
}
<script src="~/Scripts/RoleScripts/ArchivistFunctionality.js"></script>


<link href="Content/Loader.css" rel="stylesheet">


<h2>Index</h2>

<div id="callInfo" style="display: none;">
    <h1>Full information</h1>
    <table>
        <tr>
            <td>
                <p class="text">Customer name: </p>
            </td>
            <td>
                <p id="callInfoCustName"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text">E-mail:</p>
            </td>
            <td>
                <p id="callInfoCustEmail"></p>

            </td>
        </tr>
        <tr>
            <td>
                <p class="text">Phone: </p>
            </td>
            <td>
                <p id="callInfoCustPhone"></p>

            </td>
        </tr>
        <tr>
            <td>
                <p class="text">Question: </p>
            </td>
            <td>
                <p id="callInfoCallText"></p>
            </td>
        </tr>
    </table>

</div>



<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Active</a></li>
        <li><a href="#tabs-2">Archived</a></li>
    </ul>
    <div id="tabs-1">

        <div id="popup"></div>
        <div id="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
        <table id="jqgArchivistActive"></table>
        <div id="pagerActive"></div>
    </div>
    <div id="tabs-2">
        <div id="popup"></div>
        <table id="jqgArchivist"></table>
        <div id="pagerArchived"></div>
    </div>
</div>





