@model RPS.ValidationModels.CallValidation

<div id="createCall" >
    @using (@Ajax.BeginForm("AddCall", "Dispatcher", new AjaxOptions()
    {
       // OnBegin = "reloadJQGrid()",
       // OnFailure = "reloadJQGrid()",
        OnSuccess = "reloadJQGrid()",
        UpdateTargetId = "createCall",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <h1 class="text" id="adding-form-header">Add new call</h1>
        
        <table>
            <tr>
                <td>
                    <p class="text">Choose customer name: </p>
                </td>
                <td>
@Html.DropDownListFor(m => m.Customer,
                    (IEnumerable<SelectListItem>)ViewData["CustomerList"], new { id = "Customer" })

</td>
            </tr>
            <tr>
                <td>
                    <p class="text">Enter question:</p>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.CallText, new { id = "CallText" })

                </td>
            </tr>
            <tr>
                <td>
                    <p class="text">Choose agent(not required): </p>
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Agent, 
                   (IEnumerable<SelectListItem>)ViewData["AgentsList"], new { id = "Agent" })




                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="add-button" value="Add new call" />
                </td>
            </tr>
        </table>

                        }
</div>
