@model RPS.ValidationModels.CallValidation

<style>
    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
    }

    .autocomplete-group {
        padding: 2px 5px;
    }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
</style>

<script>

    //var selected = 0;

    $("#autocompleteCustomer").autocomplete({
        source: '/Dispatcher/GetCustomersJSON',
        select: function (event, ui) {
            //alert('You selected: ' + ui.item.value + ', ' + ui.item.data);
            document.getElementById('Customer').value = ui.item.value;
            $("#autocompleteCustomer").val(ui.item.label);
            return false;
            //selected = ui.item.value;
        }
    });

    function CheckIfSelected(data)
    {
        if (document.getElementById('Customer').value == '0') {
            alert('Please choose customer from the list!');
            return false;
        }
    }
</script>

<div id="createCall" >
    @using (@Ajax.BeginForm("AddCall", "Dispatcher", new AjaxOptions()
    {
        OnBegin = "CheckIfSelected",
        // OnFailure = "reloadJQGrid()",
        OnSuccess = "CallAdded",
        UpdateTargetId = "createCall",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <h1 class="text" id="adding-form-header">Add new call</h1>

        <table>
            <tr>
                <td>
                    <p class="text">Choose customer name: </p>
                </td>
                <td>
                    @Html.HiddenFor(m => m.Customer, new { id = "Customer" })
                    <input type="text" name="Customer1" id="autocompleteCustomer" />
                </td>
            </tr>
            <tr>

                <td>
                    <p class="text">Enter question:</p>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.CallText, new { id = "CallText" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text">Choose agent(not required): </p>
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Agent,
                        (IEnumerable<SelectListItem>)ViewData["AgentsList"], new { id = "Agent" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="add-button" value="Add new call" />
                </td>
            </tr>
        </table>

                        }
</div>
