<div id="callInfo" >
<h1>Full information</h1>
<table>
    <tr>
        <td>
            <p class="text">Customer name: </p>
        </td>
        <td>
            <p id="callInfoCustName"></p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">E-mail:</p>
        </td>
        <td>
            <p id="callInfoCustEmail"></p>

        </td>
    </tr>
    <tr>
        <td>
            <p class="text">Phone: </p>
        </td>
        <td>
            <p id="callInfoCustPhone"></p>

        </td>
    </tr>
    <tr>
        <td>
            <p class="text">Question: </p>
        </td>
        <td>
            <p id="callInfoCallText"></p>
        </td>
    </tr>
</table>

</div>