@{
    ViewBag.Title = "Dispatcher page";
}

<script src="~/Scripts/RoleScripts/DispatcherFunctionality.js"></script>
<link href="Content/Loader.css" rel="stylesheet">

<h2>Service calls</h2>



<div id="popup"></div>

<button style="display:none;" id="createCallBtn" class="btn btn-primary" onclick="CreateNewCall()">Create New</button>

<div id="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<table id="jqgDispatcher"></table>
<div id="pager"></div>




